extends layout

block head

block body

	div#main

		div#clouds-background
			div.clouds-area

		div#logo-and-form
			div.content
				div#logo-wrapper
					div#logo
						// | WastedHumanity

				div#tagline
					| Cause what else is there to do in the 21st century?

				div#check-video-form
					div.instructions
						| Paste a youtube url to see how much time humanity wasted on it
					div#input-border
						input#video-url(type='text', placeholder='http://youtube.com/watch?v=')
						span#check-video
							span.label BAM!
							img.form-loader(style='display:none;',src='small_loader.gif')
					div#error-message(style='display:none')
						| Hey dumbass! That's not a real youtube url!
		
		div#video-results(style='display:none;',data-current-video='#{currentVideo}').content
			div.thumbnail
				img.thumbnail(src='video_thumbnail.png')
			div.video-info
				div.video-title
				div.movie-length
					| This video is 
					span
					| s long.
				div.movie-count
					| It was watched 
					span
					|  times.
				div.wasted-time
					| Humanity wasted 
					span
					|  watching this!
				div.fun-fact
				div(style='clear:both;')

		div#popular-videos.content
			| We also wasted too much time on these...
			div.videos
				each val in videos
					span.popular-video(data-video-id='#{val.videoId}')
						span.video-info
							img.thumbnail(src='#{val.videoInfo.thumbnail}')
							div.title #{val.videoInfo.title}
							span.wasted-time(data-views='#{val.videoInfo.views}',data-length='#{val.videoInfo.length}')
							span.view-movie How much time?
				div.breaker

		div#popular-videos.content
			| Our favorites
			div.videos
				each val in favoriteVideos
					span.popular-video(data-video-id='#{val.videoId}')
						span.video-info
							img.thumbnail(src='#{val.videoInfo.thumbnail}')
							div.title #{val.videoInfo.title}
							span.wasted-time(data-views='#{val.videoInfo.views}',data-length='#{val.videoInfo.length}')
							span.view-movie Waste more time!
				div.breaker


				div(style='clear:both;')